<header ng-include="'templates/main_nav.html'"></header>

<div class="container">

  <div class="page-header">
    <h1>{{ title }}</h1>
  </div><!--/page-header -->

  <div class="row">
    <div class="col-sm-12">
      <div class="bs-callout bs-callout-warning">
        <h4>Heads Up!</h4>
        <p>Since the messaging service <strong>isn't hooked up yet</strong>, your owl won't actually be sent when the button is pressed - it'll just pretend it did.</p>
      </div>

      <form class="form-horizontal" name="messageForm">

        <div class="form-group">
          <label for="selectRecipient" class="col-sm-2 control-label">To:</label>
          <div class="col-sm-4">
            <select ng-model="selectedRecipient" name="recipient" class="form-control" id="selectRecipient" ng-options="user.name for user in user_list" required>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="textMessage" class="col-sm-2 control-label">Message:</label>
          <div class="col-sm-7">
            <textarea class="form-control" ng-model="messageBody" ng-trim="false" ng-minlength="2" ng-maxlength="contentLimit" maxlength="{{contentLimit}}" required></textarea>
            <p class="help-block">{{ contentLimit - messageBody.length }} characters left.</p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button ng-click="send()" ng-disabled="messageForm.$invalid || messageForm.$pristine || (messageForm.$dirty && messageBody.length < 2)" class="btn btn-default">Send</button>
          </div>
        </div>

      </form>

    </div><!--/col -->
  </div><!--/row -->

</div><!--/container -->
