<header ng-include="'templates/main_nav.html'"></header>

<div class="container">

  <div class="page-header">
    <h1>{{ title }}</h1>
  </div><!--/page-header -->

  <div class="row">
    <div class="col-sm-12">

      <table ng-if="showUsers()" class="table table-hover">
        <thead>
          <tr>
            <th class="col-sm-4">Name</th>
            <th class="col-sm-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in user_list">
            <td>{{ user.first_name + ' ' + user.last_name }}</td>
            <td><a href="/#/compose?u={{ user.uid }}" class="btn btn-default">Message</a>
          </tr>
        </tbody>
      </table>

      <div ng-if="!showUsers()">
        <p class="lead">There are no other users.</p>
      </div>

    </div><!--/col -->
  </div><!--/row -->

</div><!--/container -->
