<header ng-include="'templates/main_nav.html'"></header>

<div class="container">

  <div class="page-header">
    <h1>{{ title }}</h1>
  </div><!--/page-header -->

  <div class="row">
    <div class="col-md-12">
      <div ng-repeat="success_note in success_notes">
        <div class="alert alert-success" role="alert">
          {{ success_note }}
        </div><!--/ alert -->
      </div>
    </div><!-- /col12 -->
  </div><!--/row -->

  <div class="row">
    <div class="col-md-12">
      <div ng-repeat="danger_note in danger_notes">
        <div class="alert alert-danger" role="alert">
          {{ danger_note }}
        </div><!--/ alert -->
      </div>
    </div><!-- /col12 -->
  </div><!--/row -->

  <div class="row">
    <div class="col-sm-12">

      <table ng-if="showUsers()" class="table">
        <thead>
          <tr>
            <th class="col-sm-4">Name</th>
            <th class="col-sm-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in user_list">
            <td ng-class="{'self-highlight': current_user.uid == user.uid}">{{ user.name }}</td>
            <td><a ng-show="current_user.uid != user.uid" href="/#/compose?uid={{ user.uid }}" class="btn btn-default">Send an Owl</a>
          </tr>
        </tbody>
      </table>

      <div ng-if="!showUsers()">
        <p class="lead">There are no other users.</p>
      </div>

    </div><!--/col -->
  </div><!--/row -->

</div><!--/container -->
